**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/.next
**/dist
**/build
**/coverage
**/*.log
**/.turbo
**/.dockerignore
**/Dockerfile
**/docker-compose*.yml
**/*.md
**/.editorconfig
**/.prettierignore
**/.eslintrc*
**/eslint.config.*
**/.husky
**/tsconfig*.json
!**/tsconfig.json
!**/tsconfig.build.json
**/jest.config.*
**/test
**/*.spec.ts
**/*.test.ts
